body {
    width: 100%;
    height: 100% !important;
    background: url(./../image/1211637-20190809112720089-1507550740.png) center center no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    .login {
        color: red;
    }
}